@import 'tailwindcss';

@theme {
  --font-sans:
    main, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Cantarell, Helvetica Neue;
  --font-sans--font-feature-settings: 'cv11';
  --color-primary: #d97900;
  --color-secondary: #1a1a1a;
  --color-background: #0f0f0f;
}

body {
  @apply bg-(--color-background);
}
